@charset "UTF-8";
/* CSS Document */

.wrapper {
	font-family: "Roboto Condensed Light", "Helvetica Neue Italic", Arial;
	display: flex;
	flex-wrap: wrap;
	color: #2d4da0;
}
.mig {
	padding-top: 60px;
	color: #2d4da0;
	border-bottom: 1px solid #2d4da0;
	margin: 0 0 90px 0;
}
.kontakt {
	padding-top: 60px;
	color: #2d4da0;
	border-bottom: 1px solid #2d4da0;
	margin: 0 0 90px 0;
}
.item {
	text-align: center;
	width: 31%;
	font-family: "Roboto Condensed Light", "Helvetica Neue Italic", Arial, sans serif;
}
.selected {
	text-decoration: none;
}

